* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    font-size: 2.2em;
    font-weight: 200;
    color: hsl(212, 6%, 44%);
}

h2{
    font-size: 2.2em;
    color: hsl(234, 12%, 34%);
}

h3{
    color: hsl(234, 12%, 34%);
}

p {
    color:hsl(212, 6%, 44%);
    font-size: .9em;
}

h1, h2, h3 {
    margin: 0;
}

img {
    width: 20%;
    height: auto;
    align-self: flex-end;
}

header{
    text-align: center;
    line-height: 1.4;
    width: 32em;
    align-self: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: .2em;
    background-color: white;
    width: 20em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.244);
    padding: 1.5em;
    height: auto;
}

.midCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}


#cyanCard{
    border-top: .3em solid hsl(180, 62%, 55%);
}

#redCard{
    border-top: .3em solid hsl(0, 78%, 62%);
}

#yellowCard{
    border-top: .3em solid hsl(34, 97%, 64%);
}

#blueCard{
    border-top: .3em solid hsl(212, 86%, 64%);
}

footer{
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 1.5em;
  }

   .midCard {
    display: contents;
  }

  .card {
    width: 90%;
    max-width: 20em;
  }

  header {
    width: 90%;
    
  }

  img {
    width: 25%;
  }
}


