* {
  box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns:50%, 50%;
    grid-template-rows:50%, 50%;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: antiquewhite;
    margin: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
